html, body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #719900;
}

.wrapperGray {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  font-family: 'Arial', sans-serif;
  color: #FF4500;
  font-size: 5em;
}

.contentWrap {
  margin-top: 0;
  margin-bottom: auto;
  padding: 25px 25px 0 25px;
  display: flex;
  flex-direction: column;
  width: 700px;
}

.portfolioBox {
  width: 300px;
  height: 150px;
  background-color: #719900;
  border: 5px solid #ccc;
  box-shadow: 0 0 7px #666;
  margin: 2%;
}

.boxLabel {
  background-color: #FF4500;
  width: 120px;
  margin: 20px 0 0 190px;
  padding: 3px 0 3px 7px;
  border: 1px solid #886800;
  box-shadow: 0 0 7px #886800;
  font-family: 'Arial', sans-serif;
  font-size: .75em;
  color: #886800;
}

.workDesc {
  width: 300px;
  height: 150px;
  padding: 1% 0 0 5%; color: #555;
  font-family: 'Arial', sans-serif;
}

.indvidWrap {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #719900;
  padding: 10px;
  box-shadow: 0 0 20px #000;
}

.logoMed {
  font-family: 'Arial', sans-serif;
  color: #FF4500;
  font-size: 4em;
  font-weight: bold;
  float: left;
  /*-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.25);*/
}
.logoMed::before {
  text-shadow: 2px 2px 0 #ffffff;
}

@media screen and (max-width: 630px) {
  .indvidWrap {
    display: flex;
    flex-direction: column;
  }
}
