<div class="profile">
  <div class="profileRight">
    <div class="profileDesc">
      <h3>IT Professional</h3>
      <ul>
        <li>CompTIA A+ certified.</li>
        <li>3.5 years on the job IT experience with fortune 500 company.</li>
        <li>2 years phone/email/chat support.</li>
        <li>15 years building and repairing computers.</li>
        <li>25 years tinkering with all manner of tech.</li>
        <li><h2>Skills, Tools, and Software</h2></li>
        <ul>
          <li>Windows 3.1-10; Server 2003-2012</li>
          <li>Office 2007-2016 and 365</li>
          <li>Active Directory</li>
          <li>SCCM</li>
          <li>SolarWinds</li>
          <li>BMC Remedy</li>
          <li>Altiris Deployment Server</li>
          <li>OpenText Host Explorer</li>
      </ul>
      <nbsp />
      <!--<h3>Web Developer</h3>
      <ul>
        <li>Node.js</li>
        <li>AngularJS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>SQL</li>
        <li>CSS</li>
        <li>HTML</li>
      </ul>-->
    </div><!--profileDesc-->
  </div><!--profileRight-->
</div><!--profile-->