<!-- <div class="boxBorder"><div class="transparentBox"></div></div> -->
<div class="profile">

  <div class="profileRight">

    <div class="profileDesc">
      <ul>
        <li><h3>IT Professional</h3></li>
        <ul>
          <li>CompTIA A+ Certified</li>
          <li>3 years direct IT experience.</li>
          <li>15 years building, troubleshooting, and repairing computers.</li>
          <nbsp />
        </ul>
        <li><h3>Web Developer</h3></li>
        <ul>
          <li>Node.js</li>
          <li>AngularJS</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>SQL</li>
          <li>CSS</li>
          <li>HTML</li>
        </ul>
        <h4>See some of my code on <a href="https://www.github.com/AlanAdamson" text="https://www.github.com/AlanAdamson">GitHub - AlanAdamson</a>.</h4>
      </ul>
    </div><!--profileDesc-->

  </div><!--profileRight-->

</div><!--prfile-->